{% load widget_tweaks %}
<div class="form-group">
    <label for="username">Username</label>
    {% render_field filter.form.username class="form-control" placeholder="Username" %}
</div>
<div class="form-group">
    <label for="first_name">First Name</label>
    {% render_field filter.form.first_name class="form-control" placeholder="First Name" %}
</div>
<div class="form-group">
    <label for="last_name">Last Name</label>
    {% render_field filter.form.last_name class="form-control" placeholder="Last Name" %}
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
</div>